.card {
  background-color: black;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  height: 300px;
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
} 
.h-custom {
  margin-bottom: 0; /* Remove bottom margin */
}