<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body  class="bg-dark-subtle"
  style="

    width: 100%;

    height: 90vh;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),

      url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;"
  >
    <div class="container d-flex flex-column justify-content-md-center align-items-center" style="height: 90vh;">
      <h1 class="text-white mb-2" style="margin-top: -90px;">Welcome to <span class="text-white">Clariv</span
        ><span class="text-success">Ate</span></h1>
      <p class="text-white mb-4">Your ultimate culinary companion!</p>
      <div class="btn-group" role="group" aria-label="Account Buttons">
        <button
          type="button"
          class="btn btn-outline-secondary"
          style="color: white; font-size: x-large"
          (click)="checkIfLogin()"
        >
          Already Have an Account?
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          style="color: white; font-size: x-large"
          routerLink="register"
        >
          Wish to Create an Account?
        </button>
      </div>
    </div>
  </body>
</html>