<div
  class="registerPage"
  style="
    width: 100%;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),

      url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <br /><br />

  <div
    class="container"
    style="
      background: rgba(255, 255, 255, 0.2);
      padding-bottom: 20px;
      padding-top: 20px;
      width: fit-content;
      color: rgb(3, 3, 3);
      border-radius: 10px;
    "
  >
    <div style="text-align: center" class="container">
      <h1 id="threeD" style="
                text-transform: uppercase;
                font-family: verdana;
                font-weight: 700;
                color: #f5f5f5;
                text-shadow: 1px 1px 1px #919191,
                    1px 2px 1px #919191,
                    1px 3px 1px #919191,
                    1px 4px 1px #919191,
                    1px 5px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
                ">Billing</h1>
          
      
    </div>
    <div class="container " >
      <form #newOrder="ngForm" (ngSubmit)="addNewOrder(newOrder)">
        <label for="inputEmail" class="sr-only" style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">Enter Customer name</label>
        <input
          name="customerName"
          #customerName="ngModel"
          ngModel
          type="name"
          id="inputEmail"
          class="form-control"
          placeholder="Full Name"
          required
        />

        <span
          *ngIf="customerName.invalid && customerName.touched"
          style="color: red"
          >Name required</span
        >
        <br />
        <label for="inputPassword" class="sr-only" style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black"
          >Enter Customer Contact Number</label
        >
        <input
          name="contactNumber"
          #contactNumber="ngModel"
          ngModel
          type="tel"
          id="inputPassword"
          class="form-control"
          placeholder="Contact Number"
          required
        />
        <span
          *ngIf="contactNumber.invalid && contactNumber.touched"
          style="color: red"
          >Contact required</span
        >
        
        <br />

        <p style="margin: 1px 0" style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">Select from the menu</p>
        <div class="list-group foodproduct" *ngFor="let f of allFoodProducts">
          <a
            class="list-group-item list-group-item-action"
            style="margin: 1px auto"
          >
            <div class="d-flex w-100 justify-content-sm-between">
              <p class="mb-1">{{ f.name }}</p>
              <p class="mb-1">{{ f.type }}</p>
              <small> &#8377; {{ f.price }}</small>
              <div class="btn-group">
                <button
                  type="button"
                  class="quantity-inp"
                  class="btn btn-success"
                  (click)="addNewItem(f.id, f.price)"
                >
                  +
                </button>
                <button type="button" class="btn btn-light">
                  {{
                    this.itemCountMap.get(f.id)
                      ? this.itemCountMap.get(f.id)
                      : 0
                  }}
                </button>
                <button
                  type="button"
                  class="quantity-inp"
                  class="btn btn-danger"
                  (click)="removeItem(f.id, f.price)"
                >
                  -
                </button>
                
              </div>
            </div>
          </a>
        </div>
        <h2 style="margin-top: 10px; margin-left: 1000px;
        text-transform: uppercase;
                font-family: verdana;
                font-weight: 700;
                color: #f5f5f5;
                text-shadow: 1px 1px 1px #919191,
                    1px 2px 1px #919191,
                    1px 3px 1px #919191,
                    1px 4px 1px #919191,
                    1px 5px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
        " >
          Total price: ₹ <span id="totalPriceValue">{{ totalOrderPrice }}</span>
        </h2>

        <br />
        <button class="btn btn-lg btn-success mx-auto col-6" type="submit"
        style="display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        margin-bottom: 10px ;">
          Submit Order
      </button>
      <button class="btn btn-lg btn-info mx-auto col-6" type="reset" (click)="resetTotalPrice()" style="
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
      ">
          Clear Order
      </button>
      
      </form>
    </div>
  </div>
</div>
