<div
  class="registerPage"
  style="
    width: 100%;
height: 90vh;
 background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),

  url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
  "
>
  <section class="h-0 h-custom">
    <div class="container py-5 h-0">
      <div class="row d-flex justify-content-center align-items-center h-0" >
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3" style="background: rgba(0, 0, 0, 0.292);">
            <div class="card-body p-3 p-md-3">
              <h3
                class="mb-4 pb-3 pb-md-0 mb-md-3 px-md-2"
                style="text-align: center"
              >
              <h4 id="threeD" style="
              text-transform: uppercase;
              font-family: verdana;
              font-weight: 700;
              color: #f5f5f5;
              text-shadow: 1px 1px 1px #919191,
                  1px 2px 1px #919191,
                  1px 3px 1px #919191,
                  1px 4px 1px #919191,
                  1px 5px 1px #919191,
              1px 18px 6px rgba(16,16,16,0.4),
              1px 22px 10px rgba(16,16,16,0.2),
              1px 25px 35px rgba(16,16,16,0.2),
              1px 30px 60px rgba(16,16,16,0.4);
              ">Update Staff Details</h4>
              </h3>
              <form #editForm="ngForm" (ngSubmit)="OnSubmit(editForm)">
                <div class="mb-3">
                    <label for="product" class="form-label"  style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">Id</label>
                    <input
                        type="text"
                        class="form-control"
                        id="id"
                        name="id"
                        #id="ngModel"
                        style="background-color: #919191;"
                        [(ngModel)]="selectedStaff.id"
                        readonly
                        disabled
                    />
                </div>
                <div class="mb-3">
                    <label for="product" class="form-label"  style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        #name="ngModel"
                        [(ngModel)]="selectedStaff.name"
                        required
                    />
                    <span *ngIf="name.touched && name.invalid" style="color: red">Please fill out this field</span>
                </div>

                <div class="mb-3">
                    <label for="type" class="form-label"  style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">Email</label>
                    <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        #email="ngModel"
                        [(ngModel)]="selectedStaff.email"
                        required
                    />
                    <span *ngIf="email.touched && email.invalid" style="color: red">Please fill out this field</span>
                </div>
                
                <div class="mb-3">
                  <label for="Password" class="form-label" style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">
                    <b>Branch</b>
                  </label>
                  <input
                    name="branch"
                    #branch="ngModel"
                    ngModel
                    type="text"
                    class="form-control"
                    id="inputBranch"
                    [(ngModel)]="selectedStaff.branch"
                    placeholder="Enter assigned branch"
                    required
                  />
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label"  style="color: white;font-weight: bold;-webkit-text-stroke: 0.3px black">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        #password="ngModel"
                        [(ngModel)]="selectedStaff.password"
                        required
                        disabled
                    />
                    <span *ngIf="password.touched && password.invalid" style="color: red">Please fill out this field</span>
                </div>

                <button
                [disabled]="!editForm.valid"
                type="submit"
                class="btn btn-success"
                style="width: 100%"
            >
                Update Details
            </button>

                <br />
                <br />
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>