<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong" style="background: rgb(0, 0, 0) ;height: 10vh;margin: 0;
padding: 0;
">
  <div class="container-fluid">
    <!-- Need changes -->
    <a class="navbar-brand" routerLink="" aria-label="Clarivate Eats" style="font-size: 35px;font-weight: bolder;">
      <span class="effect-shine" title="Made with 💖 by Team 7">VAANT yum</span>
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">
        <div class="btn-group dropstart">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="dropdown-menu">
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register">Register</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" routerLink="#" (click)="goDashboard()"
                >Dashboard</a>
            </li>
            
            <li class="nav-item" *ngIf="this.isLoggedin">
              <a class="nav-link" routerLink="login" (click)="checkIfLogin()"
                >Login</a
              >
            </li>
            <li class="nav-item" *ngIf="!this.isLoggedin">
              <a class="nav-link"  (click)="logout()"
                >Logout</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="#" (click)="goEditProfile()"
                >Edit Profile</a
              >
            </li> -->
          </ul>
        </div>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="" style="font-size: 24px;">Home</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="register"style="font-size: 24px;">Register</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="#" (click)="goDashboard()"style="font-size: 24px;" *ngIf="!this.isLoggedin">
            Dashboard</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="#" (click)="goEditProfile()"
            >Edit Profile</a
          >
        </li> -->
      </ul>
    </div>
  </div>
  <div class="modal-body" style="color: white; font-style: italic;" *ngIf="!this.isLoggedin">
    <p >Logged in as <span style="font-weight: bold;">{{ user_detail.name }} ({{user_detail.branch}} {{user_detail.role}}) </span></p>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
    <button *ngIf="this.isLoggedin" type="button" class="nav-link btn3d btn btn-default btn-lg" routerLink="login" (click)="checkIfLogin()">
      <span class="glyphicon glyphicon-download-alt"></span> Login
    </button>
    <button *ngIf="!this.isLoggedin" type="button" class="nav-link btn3d btn btn-danger btn-lg" style="color:white"(click)="logout()">
      <span class="glyphicon glyphicon-download-alt">Logout</span> 
    </button>
  </div>
</nav>

<router-outlet ></router-outlet>
