
.dropdown-menu li {
    margin: 5px 0; /* Adjust spacing */
    padding: 8px 12px; /* Adjust padding for better spacing */
  }
  
  .dropdown-menu li:hover {
    background-color: #e9ecef; /* Change background color on hover */
    
  }
  

  .btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .btn3d:active:focus,
  .btn3d:focus:hover,
  .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
  }
  
  .btn3d:active,
  .btn3d.active {
    top: 2px;
  }
  .btn3d.btn-default {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0, 0, 0, .2);
    background-color: #f9f9f9;
  }
  
  .btn3d.btn-default:active,
  .btn3d.btn-default.active {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
    background-color: #f9f9f9;
  }
  
  #navbarSupportedContent {
    text-align: right;
  }

  .navbar-collapse button {
    margin-right: 18px;
    padding: 5px 10px;
    position: relative;
    font-family: 'Space Mono', monospace; /* Use Space Mono or any monospaced font */
    font-size: 25px;
    font-weight: bold; /* Make the text bold */
    letter-spacing: 2px; /* Add space between letters */
    border-radius: 5px;
    border: 1px solid #3498db;
    cursor: pointer;
  }
  