
.dropdown-menu li {
    margin: 5px 0; /* Adjust spacing */
    padding: 8px 12px; /* Adjust padding for better spacing */
  }
  
  .dropdown-menu li:hover {
    background-color: #e9ecef; /* Change background color on hover */
    
  }
  
  /* 3D button */
  .btn3d {
    position: relative;
    top: -6px;
    border: 0;
    transition: all 40ms linear;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .btn3d:active:focus,
  .btn3d:focus:hover,
  .btn3d:focus {
    -moz-outline-style: none;
    outline: medium none;
  }
  
  .btn3d:active,
  .btn3d.active {
    top: 2px;
  }
  .btn3d.btn-default {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0, 0, 0, .2);
    background-color: #f9f9f9;
  }
  
  .btn3d.btn-default:active,
  .btn3d.btn-default.active {
    color: #666666;
    box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, .1);
    background-color: #f9f9f9;
  }
  
  #navbarSupportedContent {
    text-align: right;
  }

  .navbar-collapse button {
    margin-right: 18px;
    padding: 5px 10px;
    position: relative;
    font-family: 'Space Mono', monospace; /* Use Space Mono or any monospaced font */
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px; 
    border-radius: 5px;
    border: 1px solid #3498db;
    cursor: pointer;
  }
  
  /* effect-shine */
  .navbar-brand .effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    -webkit-mask-size: 200%;
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
    color: #fff; /* Light color for text on black background */
    text-shadow: 0 1px 0 #666, 0 2px 0 #666,
    0 3px 0 #666, 0 4px 0 #666,
    0 5px 0 #666, 0 6px 0 #666,
    0 7px 0 #666, 0 8px 0 #666,
    0 20px 30px rgba(0, 0, 0, 0.7); /* Adjusted shadow color for better visibility on black background */
}

  /* effect-shine */
  .navbar-brand .effect-shine{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 70%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
    color: #fff; /* Light color for text on black background */
    text-shadow: 0 1px 0 #666, 0 2px 0 #666,
    0 3px 0 #666, 0 4px 0 #666,
    0 5px 0 #666, 0 6px 0 #666,
    0 20px 30px rgba(0, 0, 0, 0.7); /* Adjusted shadow color for better visibility on black background */
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
    mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
    mask-position: -50%;
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
